passwd.txt
server/
samples/ListSample/platforms/
samples/ListSample/plugins/
samples/NavigationSample/platforms
samples/NavigationSample/plugins
samples/ModalSample/platforms
samples/ModalSample/plugins
source/ProjectSummer/platforms
source/ProjectSummer/plugins