.navigation-bar {
  background-color: #337ab7;
  color: white;
  width: 100%;
  vertical-align: middle;
}

.plus-button-div {
  bottom: 20px;
  right: 20px;
  z-index: 2;
  position: fixed;
}

.image-button {
  width: 40px;
  height: 40px;
}