<div ng-init="initController()">
 
  <p></p>

  <div>
    <button type="button" class="btn btn-default" 
            ng-disabled="isInThePast()"
            ng-click="insertPlannedExercise()">Insert Planned Exercises</button>
            <button type="button" class="btn btn-default"
            ng-disabled="isInThePast()" 
            ng-click="insertGoal()">Insert Goal</button>
  </div>

  <p></p>

  <!-- list of exercises: visible on past, present and future cells -->
  <div class="list-group">
    <div class="list-group-item" 
        ng-repeat="exercise in eventExerciseList">
        <h3>{{::exercise.name}}</h3>
        <p>
          {{::exercise.load}} {{::exercise.metrics.unit}}
          <span class="btn btn-default pull-right" style="background: {{::exercise.color}}; color: white;">{{::exercise.eventType}}</span> 
        </p>
    </div>
  </div>
</div>