<div ng-init="initController()">
 
  <p></p>

  <div>
    <table class="pull-center" style="border-spacing: 2px; border-collapse: separate; width: 100%;">
        <tr>
           <td><b>Insert</b></td>
           <td rowspan="2"></td>
           <td><b>Clear</b></td>
        </tr>
        <tr>
           <td>
                <button type="button" class="btn btn-default" 
                        ng-disabled="isInThePast()"
                        ng-click="insertPlanned()">Planned</button>
                <button type="button" class="btn btn-default"
                        ng-disabled="isInThePast()" 
                        ng-click="insertGoal()">Goal</button>
           </td>
           <td>
                <button type="button" class="btn btn-default" 
                        ng-click="clearGoal()">Goal</button>
                <button type="button" class="btn btn-default" 
                        ng-click="clearPlanned()">Planned</button>
                <button type="button" class="btn btn-default" 
                        ng-click="clearDone()">Done</button>
           </td>
        </tr>
    </table>
    <hr/>
  </div>

  <p></p>

  <!-- list of exercises: visible on past, present and future cells -->
  <div class="list-group">
    <div class="list-group-item" 
        ng-repeat="exercise in eventExerciseList">
        <h3>{{::exercise.name}}</h3>
        <p>
          {{::exercise.load}} {{::exercise.metrics.unit}}
          <span class="btn btn-default pull-right" style="background: {{::exercise.color}}; color: white;">{{::exercise.eventType}}</span> 
        </p>
    </div>
  </div>
</div>