<div class="homepage-maindiv" ng-init="initController()">
  <div class="homepage-bottomdiv">
    <table width="100%">
      <tr>
        <td>
          <button type="button" class="btn btn-default pull-left" 
            ng-click="buttonUnplannedClick()">Unplanned Training</button>
        </td>

        <td>
          <button type="button" class="btn btn-default" 
            ng-click="buttonPlanningClick()">Planning</button>
        </td>

        <td>
          <button type="button" class="btn btn-default pull-right" 
            ng-click="buttonEODClick()">Exercise of the Day</button>
        </td>
      </tr>
    </table>
  </div>
</div>
