<div class="navbar-header navbar-fixed-top navigation-bar" ng-init="initController()">
    <span class="navbar-brand glyphicon glyphicon-sunglasses pull-left"></span>
    <div class="navbar-brand">Project Summer</div>
    <span class="navbar-brand glyphicon glyphicon-info-sign pull-right" ng-click="buttonInfoClick()"></span>
    <span class="navbar-brand glyphicon glyphicon-cog pull-right"></span>
</div>

<div class="homepage-maindiv" ng-init="initController()">

  <!-- Burndown -->
  <div></div>

  <!-- Calendar -->
  <div id="calendar"></div>
  

  <!-- Bottom buttons -->
  <div class="homepage-bottomdiv">
    <table width="100%">
      <tr>
        <td>
          <button type="button" class="btn btn-default pull-left text-button-90" 
            ng-click="buttonUnplannedClick()">Unplanned</button>
        </td>

        <td class="pull-center">
          <button type="button" class="btn btn-default text-button-90" 
            ng-click="buttonPlanningClick()">Plan</button>
        </td>

        <td>
          <button type="button" class="btn btn-default pull-right text-button-90" 
            ng-click="buttonEODClick()">Train</button>
        </td>
      </tr>
    </table>
  </div>
</div>
