<div class="pull-center" ng-init="initController()">

  <div class="planningpage-button-wrapper">
    <button type="button" class="btn btn-default text-button-200" 
      ng-click="buttonClick('ManageExerciseState')">Manage Exercises</button>
  </div>

  <div class="planningpage-button-wrapper">
    <button type="button" class="btn btn-default text-button-200" 
      ng-click="buttonClick('ManageSetState')">Manage Sets</button>
  </div>

  <div class="planningpage-button-wrapper">
    <button type="button" class="btn btn-default text-button-200" 
      ng-click="buttonClick('ManageGoalState')">Manage Goals</button>
  </div>
</div>
